html {
    font: 16px/20px 'Ubuntu Mono', monospace;
    color: #2D2D2D;
    background: #F5F5DC;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
