.root {
    margin: 0 auto;
    padding: 1.6rem 3.2rem 3.2rem;
    max-width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 1.6rem;
}

.content {
    position: relative;
    flex-grow: 1;
}
